{% extends "website/layout.html" %}


{% block title %}
{% if site.name %}
    {{ site.name }}
{% else %}
    Site not found
{% endif %}
{% endblock  %}



{% block content %}



 
           
           <div class=" rounded-lg  scroll-auto  ">
                <img src="/media_cdn/{{ site.screenshot }}" alt="" class="rounded-lg w-full object-cover  h-[20rem] ">
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-800">{{ site.name }}</h2>
                    <a href="{{ site.link }}" class="block text-blue-500 hover:underline mb-2">{{ siteLink }}</a>
                    <p class="text-gray-600">
                        {{site.description}}
                    </p>
                    <div class=" max-w-[9rem] flex justify-center p-1 m-2   flex items-center    justify-right  hover:bg-gray-100 cursor-pointer   rounded-md ">
                        <img src="/media_cdn/{{site.posted_by.profile_image }}" class="w-[1.7rem] rounded-full  mx-2   " alt="">
                        <p class=" text-lg  ">{{ site.posted_by }}</p>
                    </div> 
                </div>
            </div>

       

{% endblock  %}