{% extends "website/layout.html" %}


{% block title %}
Site List
{% endblock  %}



{% block content %}



    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-5  "> 
        {% for site in sites  %}
            <div class="bg-white rounded-lg shadow-md  m-2 ">
                <img src="/media_cdn/{{ site.screenshot }}" alt="" class="rounded-lg">
                <div class="p-4">
                    <h2 class="text-xl font-semibold text-gray-800">{{ site.name }}</h2>
                    <a href="{{ site.link }}" class="block text-blue-500 hover:underline mb-2">{{ siteLink }}</a>
                    <p class="text-gray-600">
                        {{ site.description|slice:":80" }}
                        {% if site.description|length > 80 %}...{% endif %}
                    </p>
                    <!--<div class="flex items-center  mt-4  justify-right  ">
                        <img src="/media_cdn/{{site.posted_by.profile_image }}" class="w-[1.7rem] rounded-full mx-2  " alt="">
                        <p class=" text-lg ">{{ site.posted_by }}</p>
                    </div> -->
                    <a href="{% url 'site_details' site.id %}">Details</a>
                </div>
          </div>
        {% endfor %}
    </div>

{% endblock  %}