{% extends "website/layout.html" %} {% block title %} Register {% endblock %} {%
block content %}

<form method="POST" action="" class="md:mx-[10rem] m-3">
  {% csrf_token %}
  <div class="w-full flex justify-center">
    <p class="text-3xl font-bold text-accent">Login</p>
  </div>
  <div class="grid md:grid-cols-2 grid-cols-1 gap-2">
    {% for field in form %}
    <div class="md:col-span-2 my-2">{{field}}</div>
    {% endfor %}

    <div class="w-full md:col-span-2 flex justify-center">
      <button class="p-2 m-2 bg-accent w-[20%] rounded">Login</button>
    </div>
  </div>
</form>
{% endblock %}
